body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: #222;
  text-decoration: none;
}
/* before와 after 기본 성질: inline */
.gnb a:before {
  content: '01';
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 12px;
}
.gnb a:after {
  content: 'update';
  font-size: 12px;
  background-color: crimson;
  color: #fff;
  margin-left: 5px;
  padding: 2px;
  border-radius: 2px;
}