@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
  background-color: #e0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  text-decoration: none;
}
.sns {
  background-color: rgb(221, 217, 217);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.429);
  padding: 50px;
}
.sns a {
  border: 5px solid white;
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.sns a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.sns a:hover::before {
  height: 100%;
}
.sns a:nth-child(1)::before {
  background-color: #3b5999;
}
.sns a:nth-child(2)::before {
  background-color: #55acee;
}
.sns a:nth-child(3)::before {
  background-color: #dd4b39;
}
.sns a:nth-child(4)::before {
  background-color: #0077B5;
}
.sns a:nth-child(5)::before {
  background-color: #e4405f;
}
.sns a .fa {
  position: relative;
  transition: 0.5s;
}
.sns a:hover .fa {
  transform: rotateY(360deg);
  color: #fff;
}