body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  color: #222;
  text-decoration: none;
}
.gnb {
  position: relative;
  /* border: 1px solid #000; */
}
.gnb a {
  font-size: 30px;
}
.gnb::before {
  content: '01';
  font-size: 30px;
  margin-right: 5px;
  background-color: royalblue;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -55px;
}
.gnb::after {
  content: 'update';
  background-color: crimson;
  font-size: 30px;
  display: inline-block;
  width: 125px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.245);
  cursor: pointer;
  transition: 0.3s;
  margin-left: 5px;
  position: absolute;
}
.gnb::after:hover {
  color: #fff;
}