/* 첫 번째 방법 */
/* body {
  background: linear-gradient(90deg, #DCE358, #45B649);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #222;
}
.gnb {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(134, 134, 134, 0.622);
  padding-bottom: 10px;
}
.gnb a {
  border: 1px solid #000;
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  overflow: hidden;
}
.gnb a span {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.gnb a span:first-child {
  top: 0;
  left: 0;
}
.gnb a span:last-child {
  color: #45B649;
  top: 100%;
  left: 0;
}
.gnb a:hover span:first-child {
  top: -100%;
}
.gnb a:hover span:last-child {
  top: 0;
} */

/* 두 번째 방법 */
body {
  background: linear-gradient(90deg, #DCE358, #45B649);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #222;
}
.gnb {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(134, 134, 134, 0.622);
  padding-bottom: 10px;
}
.gnb a {
  /* border: 1px solid #000; */
  display: inline-block;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  overflow: hidden;
}
.gnb a::before,
.gnb a::after {
  content: attr(data-link);
  position: absolute;
  width: 100%;
  transition: 0.3s;
}
.gnb a::before {
  top: 0;
  left: 0;
}
.gnb a::after {
  top: 100%;
  left: 0;
  color: #45B649;
}
.gnb a:hover::before {
  top: -100%;
}
.gnb a:hover::after {
  top: 0;
}