/* span:nth-child(n) 는 각각 부모 요소를 기준으로 n 번 째에 있는 span 태그를 선택한다
span:nth-of-type(n) 는 각각 부모 요소를 기준으로 자식 span 태그 중 n 번째 요소를 선택한다 */
.box {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  padding: 10px;
}
.box div {
  border: 1px solid red;
  height: 70px;
  padding: 10px 0;
}
.box h4 {
  border: 1px solid green;
  width: 100px;
}
/* .box div:nth-of-type(2){
  border: 1px solid blue;
} */
/* .box h4:nth-of-type(1) {
  color: gold;
} */
/* .box div:nth-child(3){
  border: 1px solid gold;
} */
/* .box div:nth-child(2){
  border: 1px solid gold;
} */
/* .box div:nth-child(3){
  border: 1px solid gold;
} */
/* h4:nth-child(1) {
  border: 1px solid gold;
} */
/* h4:nth-child(2){
  border: 1px solid gold;
} */