/* 웹페이지에 정중앙에 배열하는 방법 */
/* 1. body에 display: flex; 속성 넣기 */
/* 2. container에 position: absolute; 속성 넣기 -> top,left: 50%; transform: translate(-50%, -50%) */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.app-ui {
  width: 340px;
  height: 640px;
  position: relative;
  transform: rotate(-45deg) skewX(20deg);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.179);
  transition: 0.5s;
  background-color: #eee;
}
.app-ui img {
  position: absolute;
  transition: 0.5s;
}
.app-ui:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.2;
}
.app-ui:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: 0.4;
}
.app-ui:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.6;
}
.app-ui:hover img:nth-child(4) {
  transform: translate(160px, -160px);
}
.app-ui:hover {
  box-shadow: -50px 100px 100px rgba(0, 0, 0, 0.264);
}