@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #222;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}
.items {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.item {
  display: inline-block;
  width: 300px;
  height: 200px;
  position: relative;
}
.front,
.back {
  position: absolute;
  transition: 0.5s;
  top: 0;
}
.front {
  height: inherit;
  background-color: #333;
  /* text-align: center; */
  line-height: inherit;
  z-index: 1;
  width: 100%;
}
.item:hover .front img {
  animation: ani 1s linear infinite;
}
.front h2 {
  margin-top: 0;
}
.back {
  height: inherit;
  background-color: #fff;
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
}
.back a {
  background-color: yellowgreen;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.back a:hover {
  background-color: #000;
  color: #fff;
}
.item:hover .front {
  top: -50%;
}
.item:hover .back {
  top: 50%;
  opacity: 1;
}
@keyframes ani {
  50% {
    transform: scale(1.2);
  }
}