body {
  color: #222;
  line-height: 1.5em;
}
a {
  color: #222;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon {
  border: 1px solid #000;
  margin: 10px;
  position: relative;
}
.icon span {
  width: 300px;
  padding: 7px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
  opacity: 0;
  transition: 0.5s;
  /* 자리값은 유지 존재 자체 사라지게 함 */
  visibility: hidden;
}
.icon span::after {
  content: '';
  position: absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  bottom: -8px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}
.icon:hover span {
  display: block;
  opacity: 1;
  visibility: visible;
}