body {
  background-color: #333;
}
.heading {
  font-size: 100px;
  text-transform: uppercase;
  color: gold;
  /* text-shadow: 0 0 20px rgba(255, 255, 255, 0.693); */
  text-shadow: 5px 5px 0 dodgerblue, 10px 10px 0 rgb(154, 189, 224);
}
/* box-shadow와 거의 비슷하지만 text-shadow는 inset은 사용할 수 없음 */