div {
  border: 1px solid red;
  height: 100px;
  /* width: 100%; : 기본요소 */
  margin: 50px;
}
/* block 요소 특징*/
/* 1. 한 줄ㅇ레 한 개씩 배치 */
/* 2. 기본 너비 값 100% */
/* 3. 크기 값을 가질 수 ㅇ */
/* 4. 상하좌우 margin 가질 수 ㅇ */