body {
  color: #000;
}
/* a태그는 body태그의 css가 먹히지 않음 -> 따로 지정 */
a {
  color: #000;
  text-decoration: none;
  border: 1px solid red;
  margin: 50px;
}
/* inline 요소 특징 */
/* 1. 가로 배치 */
/* 2. 상하 마진은 갖지 않는다 */
/* 3. 기본 너비 값은 content 너비 값 */
/* 4. 크기 값을 가질 수 없음 */
/* 대부분이 text와 관련된 태그 */