@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.skill-progress {
  width: 500px;
  padding: 20px;
  background-color: #333;
  border-radius: 7px;
  color: #fff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill-progress h1 {
  text-align: center;
  margin-bottom: 10px;
}
.item p {
  overflow: hidden;
  /* border: 1px solid white; */
  margin-bottom: 5px;
}
.item p span:nth-child(1) {
  float: left;
}
.item p span:nth-child(2) {
  float: right;
}
.progress {
  border: 1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;
}
.progress-level {
  height: 10px;
  background: linear-gradient(90deg, crimson, gold);
  animation: ani 1s both;
}
@keyframes ani {
  0% {
    width: 0;
  }
}
.skill-progress .item:nth-of-type(1) .progress-level {
  animation-delay: 0s;
}
.skill-progress .item:nth-of-type(2) .progress-level {
  animation-delay: 0.2s;
}
.skill-progress .item:nth-of-type(3) .progress-level {
  animation-delay: 0.4s;
}
.skill-progress .item:nth-of-type(4) .progress-level {
  animation-delay: 0.6s;
}
.skill-progress .item:nth-of-type(5) .progress-level {
  animation-delay: 0.8s;
}