/* block요소에 float 속성 */
.parent {
  border: 5px solid red;
  width: 600px;
  margin: 50px 0;
  /* 자식요소에 float속성을 부여하면 부모요소는 자식요소가 없어졌다고 생각 */
  /* 해결방법 */
  /* height: 200px; */
  /* overflow가 더 효율적 */
  overflow: hidden;
}
/* float: none; 기본값 */
.child {
  background-color: gold;
  width: 200px;
  height: 200px;
  float: left;
}

/* inline속성을 가운데 정렬 */
.box1 {
  border: 5px solid red;
  width: 600px;
  margin: 50px 0;
}
.box1Child {
  background-color: gold;
  display: block;
  width: 200px;
  height: 100px;
  /* margin: auto;는 블록요소에만 가능 */
  margin: auto;
}

/* inline-block요소를 중앙배열하려면 부모요소에 text-align: center; */
.box2 {
  border: 5px solid red;
  width: 600px;
  margin: 50px 0;
  text-align: center;
}
.box2Child {
  background-color: gold;
  display: inline-block;
  width: 200px;
  height: 100px;
}

/* block요소 가운데 정렬 - 자식요소에 margin: auto;*/
.box3 {
  border: 5px solid red;
  width: 600px;
}
.box3Child {
  background-color: gold;
  width: 200px;
  height: 100px;
  margin: auto;
}


/* 요소 가운데 정렬 총정리 */
/* 1. inline */
/* 자식 요소에 display: block; margin: auto; */
/* 2. inline-block */
/* 부모 요소에 text-align: center; */
/* 3. block */
/* 자식 요소에 margin: auto; */