.container {
  border: 1px solid red;
  width: 1200px;
  margin: auto;
}
header {
  background-color: skyblue;
  overflow: hidden;
}
header article {
  background-color: gray;
  width: 300px;
  height: 100px;
}
.logo {
  float: left;
}
.navi {
  float: right;
}
.box1 {
  background-color: yellowgreen;
  height: 300px;
}
/* box2에 height 주지 않은 이유: 자식 요소의 높이가 늘어나면 자동으로 box2의 높이값도 늘어나기때문 */
.box2 {
  background-color: greenyellow;
  border: 5px solid blue;
  /* 자식요소가 float 속성가져 높이값을 잃음 -> overflow: hidden;으로 높이값 되찾기 */
  overflow: hidden;
}
.box2 article {
  width: 33.33333333%;
  height: 300px;
  /* sub1~3 가로 배치 */
  float: left;
}
.sub1 {
  background-color: gray;
}
.sub2 {
  background-color: lightgray;
}
.sub3 {
  background-color: darkgray;
}
footer {
  background-color: skyblue;
  height: 100px;
}