.case1 {
  border: 5px solid black;
  width: 600px;
  margin: 10px 0;
  overflow: hidden;
}
.case1 article {
  background-color: gold;
  width: 200px;
  height: 100px;
  border: 1px solid red;
  float: left;
  box-sizing: border-box;
}

.case2 {
  border: 5px solid black;
  width: 600px;
  margin: 10px 0;
  overflow: hidden;
}
.case2 article {
  background-color: gold;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  float: left;
  box-sizing: border-box;
}

.case3 {
  border: 5px solid black;
  width: 600px;
  text-align: center;
}
.case3 article {
  background-color: gold;
  width: 200px;
  height: 100px;
  border: 1px solid red;
  display: inline-block;
}