body {
  margin: 0;
}

.container,
.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  border: 5px solid #000;
  box-sizing: border-box;
  width: calc(100% - 70px);
  height: 100px;
  background-color: yellowgreen;
  margin-bottom: 50px;
  /* top: 50px; */
}
.parent {
  border: 5px solid #000;
  width: 800px;
  overflow: hidden;
  top: 800px;
}
.child {
  height: 200px;
  width: calc(800px / 3);
  float: left;
}
.child:nth-child(1) {
  background-color: crimson;
}
.child:nth-child(2) {
  background-color: royalblue;
}
.child:nth-child(3) {
  background-color: yellowgreen;
}