body {
  margin: 0;
  background-color: crimson;
}
.container {
  background-color: yellowgreen;
  width: calc(100% - 60px);
  height: calc(100vh - 60px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}