body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  width: 400px;
  height: 400px;
  position: relative;
}
.square span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 43% 57% 74% 26% / 30% 48% 52% 70%;
  transition: 0.5s;
}
.square:hover span {
  background-color: crimson;
  border: none;
}
.square span:nth-child(1) {
  animation: circle 6s linear infinite;
}
.square span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
}
.square span:nth-child(3) {
  animation: circle 10s linear infinite;
}
/* 마우스를 올렸을때 투명도 변화 */
.square:hover span:nth-child(1) {
  opacity: 0.2;
}
.square:hover span:nth-child(2) {
  opacity: 0.6;
}
.square:hover span:nth-child(3) {
  opacity: 0.8;
}
.square div {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  color: #fff;
}
.square div a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 43% 57% 74% 26% / 30% 48% 52% 70%;
  padding: 7px;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}