/* content 내용 가로 중앙 배치: text-align: center */
/* content 내용 세로 중앙 배치: line-height:  */
/* box-sizing: border-box: 초기 너비 값에 추가 된 패딩 값과 경계 값을 모두 포함 */
.box {
  font-size: 50px;
  border: 1px solid red;
  width: 400px;
  height: 200px;
  /* padding: 50px; */
  text-align: center;
  line-height: 200px;
  box-sizing: border-box;
}