div {
  background-color: #ccc;
  width: 250px;
  height: 200px;
  margin: 10px;
  border-radius: 5px;
  float: left;
}
.box1 {
  box-shadow: 5px 5px 10px #000;
}
.box2 {
  box-shadow: 0 0 20px dodgerblue;
}
.box3 {
  box-shadow: 10px 10px 0 #000;
}
.box4 {
  box-shadow: inset 0 0 10px #000
}
.box5 {
  box-shadow: inset 0 0 30px rgb(255, 255, 255)
}
.box6 {
  box-shadow: inset 0 0 100px #000;
}