.parent {
  background-color: dodgerblue;
  width: 600px;
  height: 300px;
  margin: 50px 0;
  /* position:relative;를 주지 않으면 자식요소는 웹브라우저 화면이 부모요소로 착각 */
  position: relative;
}
/* 자식요소 포지션주기 위해 부모/자식요소에 position설정 필수 */
.child {
  background-color: red;
  width: 200px;
  height: 100px;
  position: absolute;
  right: 0px;
  bottom: 0;
}

.boxParent_1 {
  border: 5px solid black;
  width: 500px;
  height: 500px;
  margin: 50px 0;
  position: relative;
}
.boxChild_1 {
  background-color: dodgerblue;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 밖으로 위치시키기 */
.boxParent_2 {
  border: 5px solid red;
  width: 600px;
  height: 200px;
  position: relative;
}
.boxChild_2 {
  background-color: blue;
  width: 100px;
  height: 50px;
  position: absolute;
  /* 바깥쪽 오른쪽 맨 아래 */
  /* top: 100%;
  left: 100%; */
  /* 오른쪽 바깥으로 */
  /* left: 100%; */
  /* 바닥 바깥으로 */
  /* top: 100%; */

}