.parent {
  border: 1px solid red;
  width: 600px;
  height: 200px;
}
/* parent 바로 밑에 선택자만 적용 */
.parent > div {
  border: 1px solid blue;
  width: 100px;
  height: 100px;
  padding: 50px;
  box-sizing: border-box;
} 
.parent > div div {
  width: 50px;
  height: 50px;
  background-color: black;
}